//
// Mixins
// -----------------------------------------------------

@mixin accelerate() {
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
}

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin hidden() {
  display: none;
  visibility: hidden;
}

@mixin hidetext {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin offscreen {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Positioning
@mixin absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin vertically-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Remove units
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

//Rem fallback
@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

// Calculate specific dimentions of a property
@mixin calc-prop-scale($property, $value, $scale) {
  #{$property}: $value * ($scale/100);
}

// A function helper to avoid having to type `map-get($z-layers, ...)`
// ---
// @param [string] $component: the layer to use
// ---
// @return [number] | [null]

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No z-index found in $z-layers map for `#{$layer}`. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}
