[type="text"],
[type="password"],
[type="number"],
[type="email"],
textarea {
  border: 1px solid $color-gray-35;
  border-radius: 4px;
  font-size: $font-size-xxs;
  padding: .5rem 1rem;
  transition: all .3s ease-in-out;

  &:active,
  &:focus {
    border: 1px solid $color-utility-positive;
    box-shadow: 0 0 5px $color-utility-positive;
    outline: none;
  }
}
