//
// Base Typography
// -----------------------------------------------------

html {
  font-size: 100%; // This means 16px
  line-height: 1.3;

  @media (min-width: $tablet-breakpoint-min) {
    font-size: 112.5%; // This means 18px
    line-height: 1.4;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-primary;
  font-weight: lighter;
  margin: 0;
}

h1 {
  font-size: $font-size-xxl;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xxxl;
  }
}

h2 {
  font-size: $font-size-xl;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xxl;
  }
}

h3 {
  font-size: $font-size-l;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xl;
  }
}

h4 {
  font-size: $font-size-m;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-l;
  }
}

h5 {
  font-size: $font-size-s;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-m;
  }
}


h6 {
  font-size: $font-size-xs;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-s;
  }
}



p {
  font-size: $font-size-base;
  margin: 0 0 $base-spacing-unit;
}
