// Button
//
// A majority of buttons in the site are built from the same base class.
//

.btn {
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-primary;
  padding: .5em 1em;
  position: relative;
  text-decoration: none;
  transition: all .2s ease-in-out;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  // Button Scheme
  // -------------------------

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    font-size: $font-size-base;

    &:hover,
    &:focus {
      background-color: darken($color-primary, 5);
      color: $color-white;
    }

  }

  &--secondary {
    background-color: $color-secondary;
    border: 1px solid $color-primary;
    color: $color-white;
    font-size: $font-size-xxs;
  }

  &--small {
    padding: .4em 1em;
    font-size: $font-size-xxs - 0.3;
  }

}
