.c-hero {
  position: relative;

  &__wrap {
    @include vertically-center;
    width: 100%;
  }

  &__text {
    // background-color: rgba($color-white, 0.5);
    // padding: 1em 2em;
  }

  &__bg-img {
    @include absolute-center;
    opacity: 0.6;
    width: 100%;
  }
}

.c-hero--primary {
  height: 600px;
  background-color: $color-black;
  // background: url($image-path + '/food-2.jpg') no-repeat center center $color-black;
  // background-size: cover;
  // opacity: 0.8;
  overflow: hidden;
}

.c-hero--secondary {
  height: 100px;
}


.c-rotator-word {
  display: inline;
  text-indent: 10px;
  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: topToBottom 6s linear infinite 0s;
  	-ms-animation: topToBottom 6s linear infinite 0s;
  	-webkit-animation: topToBottom 6s linear infinite 0s;
  }
  span:nth-child(1) {
    -webkit-animation-delay: 0s;
  	-ms-animation-delay: 0s;
  	animation-delay: 0s;
  }
  span:nth-child(2) {
    -webkit-animation-delay: 2s;
  	-ms-animation-delay: 2s;
  	animation-delay: 2s;
  }
  span:nth-child(3) {
      -webkit-animation-delay: 4s;
  	-ms-animation-delay: 4s;
  	animation-delay: 4s;
  }
}
