.c-icon {
  background-color: $transparent;
  border: 0 none;
  display: inline-block;
  outline: none;

  &-alert {
    background: url($image-path + '/icon-alert.png') no-repeat center center;
    background-size: 15px auto;
    height: 20px;
    width: 20px;
  }

  &-message {
    background: url($image-path + '/icon-message.png') no-repeat center center;
    background-size: 15px auto;
    height: 20px;
    width: 20px;
  }

  &-user {
    background: url($image-path + '/icon-user.png') no-repeat center center;
    background-size: 15px auto;
    height: 20px;
    width: 20px;
  }

  &-logout {
    background: url($image-path + '/icon-logout.png') no-repeat center center;
    background-size: 16px auto;
    height: 20px;
    width: 20px;
  }
}
