//
// Base Layout
// -----------------------------------------------------

html,
body {
  height: 100%;
}

body {
  background-color: $color-white;
  color: $color-gray-65;
  font-family: $font-family-secondary;
  min-width: 320px;
}

.content-wrapper {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $mobile-container-max-width;
  width: calc(100% - 40px);

  @media (min-width: $tablet-breakpoint-min) {
    max-width: $tablet-container-width;
    width: calc(100% - 60px);
  }

  @media (min-width: $desktop-breakpoint-min) {
    max-width: $desktop-container-width;
  }

}
