.c-profile-nav {

  &__media {
    border: 3px solid $color-white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .7em 0 0;
    max-width: 2.3em;

  }

  &__text {
    color: $color-white;
    font-family: $font-family-primary;
    font-size: $font-size-micro;
  }

  &__list {
    &-item {
      display: inline-block;
      position: relative;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: 1em;
        padding-right: 1em;

        &::after {
          @include vertically-center;
          background-color: $color-primary-dark;
          content: '';
          display: block;
          height: 25px;
          position: absolute;
          right: 0;
          width: 1px;
        }
      }
    }
  }

  &__link {
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-white;
      text-decoration: underline;
    }

    &--menu {
      padding-right: 25px;
      position: relative;
      &::after {
        top: 30%;
      	right: 0;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-color: $transparent;
      	border-top-color: $color-white;
      	border-width: 6px;
      	margin-left: -6px;
      }
    }
  }

}
