// Titles

.c-title-primary {
  font-size: $font-size-l;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xl;
  }
}

.c-title-secondary {
  font-size: $font-size-s;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-m;
  }
}

.c-title-terciary {
  font-size: $font-size-xs;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-s;
  }
}

.c-title-quaternary {
  font-size: $font-size-xxs;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xs;
  }
}

.c-title-quinary {
  font-size: $font-size-base;

  @media screen and (min-width: $tablet-breakpoint-min) {
    font-size: $font-size-xxs;
  }
}
