

.o-flag {
  display: table;
  margin: auto 10px;
  width: auto;

  &__image,
	&__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
      vertical-align: top;
		}

    .flag--bottom & {
      vertical-align: bottom;
		}
	}

  &__image{
    padding-right: 10px;

    > img {
      display: block;
		}

    .flag--rev & {
      padding-left: 10px;
      padding-right: 0;
		}
	}

  &__body {
    width: 100%;
	}
}
