
.o-media {
  margin: $base-spacing-unit;

  & .o-media__body {
		_overflow: visible;
    overflow: hidden;
    zoom: 1;
	}

  &__img {
    float: left;
    margin-right: $base-spacing-unit;

    img {
      display: block;
		}
	}

  .imgExt {
    float: right;
    margin-left: $base-spacing-unit;
	}
}
