//
// Global Classes
// -----------------------------------------------------
// Helper utilities

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-clear {
  clear: both;
}

.u-accelerate {
  @include accelerate();
}

.u-hidden {
  @include hidden();
}

.u-visible {
  display: block;
  visibility: visible;
}

.u-offscreen {
  @include offscreen();
}

.u-text-offset {
  text-indent: -9999px;
}

.u-text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.u-unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Visibility Utils
.u-hidden-mobile {
  @media (max-width: $mobile-breakpoint-max) {
    display: none;
	}
}

.u-hidden-desktop {
  @media (min-width: $tablet-breakpoint-min) {
    display: none;
	}
}

.u-visible-mobile {
  display: none;
  @media (max-width: $mobile-breakpoint-max) {
    display: block;
	}
}

.u-visible-desktop {
  display: none;
  @media (min-width: $tablet-breakpoint-min) {
    display: block;
	}
}
