
@for $i from 0 through 5 {
  .space-bottom-#{$i} {
    margin-bottom: #{$base-spacing-unit * $i};

    &-mobile {
      @media (max-width: $mobile-breakpoint-max) {
        margin-bottom: #{$base-spacing-unit * $i};
      }
    }

    &-desktop {
      @media (min-width: $tablet-breakpoint-min) {
        margin-bottom: #{$base-spacing-unit * $i};
      }
    }
  }
}
